:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("https://plus.unsplash.com/premium_photo-1681826543445-e84c16a952b4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin: auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
