.home {
    background-color: rgba(232, 240, 247, 0.884);
    height: 102%;
    padding-top: 10px;
    width: 1000px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  hr.dashed {
    border-top: 4px dashed #C89B9F;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }
  
  .home-p {
    position : relative;
    height : 5%;
    width : 70%;
    text-align : center;
    margin : auto;
    padding-bottom: 20px;
  }
  
  .recipes-list > a {
    color: black;
    font-weight: bold;
  }
  
