 .recipe-inputs, .ingredient-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: 60px 30px 60px 30px;
  }
  
  .submit-button {
    margin: auto;
    font-weight: 400;
    font-size: larger;
    font-family: "Playfair Display", serif;
    padding: 3px 12px;
    color: #321710;
    background-color: #C89B9F;
    border-radius: 10px;
    margin: 0 2px 20px 0;
    padding: 3px 12px;
    cursor: pointer;
  }

 input, textarea {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #C89B9F;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
 }
   
 form {
    margin-top: 25px;
    font-weight: 600;
    font-size: large;
 }
